* {
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg-body.png');
}

nav ul li {
    padding: 0 3px;
    display: inline-block;
}

nav ul li a {
    background-color: black;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: white;
}

nav ul li a:hover {
    background-color: lightgray;
    color: black;
    text-decoration: none;
}

.banner {
    display: block;
    width: 100%;
    height: 300px;
    margin: 10px 0 0 0;
    object-fit: cover;
}

header {
    display: flex;
    justify-content: center;
}

main img {
    width: 100%;
    margin-top: 25px;
}

.textOverImage a {
    display: block;
    position: absolute;
    width: calc(100% - 32px);
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    background-color: rgba(8, 6, 6, .5);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 40px 20px;
    margin-top: 25px;
    justify-content: space-between;
    border-radius: 25px 25px 0 0;
}

.foot {
    display: inline-flex;
    justify-content: center;
}

.foot a {
    border-right: 2px solid white;
}

.foot1 {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    color: red;
    padding-top: 15px;
}

main h3 {
    font-size: 20px;
    font-weight: bolder;
}

main a {
    display: inline-block;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

main a:hover {
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

main p {
    margin-bottom: 20px;
}